<div class="col-md-8">
  <h2>
    <%= @blog.title %>
  </h2>

  <p class="text-muted">
    <%= @blog.topic.title %>
  </p>

  <% if logged_in?(:site_admin) %>
    <%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-primary" %>
  <% end %>

  <p>
    <%= markdown @blog.body %>
  </p>

  <%= link_to 'Back', blogs_path, class: "btn btn-secondary" %>

  <hr>

  <!-- COMMENT FORM -->
  <%= render 'comments/comment_form' %>

  <!-- LIST COMMENTS -->
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div>