<div class="col-md-8">
  <h2>
    <%= @blog.title %>
  </h2>

  <% if logged_in?(:site_admin) %>
    <%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-primary" %>
  <% end %>

  <p id="notice"><%= notice %></p>

  <p>
    <%= @blog.body %>
  </p>

  <%= link_to 'Back', blogs_path, class: "btn btn-secondary" %>

  <hr>

  <!-- COMMENT FORM -->
  <%= render 'comments/comment_form' %>

  <!-- LIST COMMENTS -->
  <%= render @blog.comments %>
</div>