<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= @page_title %></title>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <!-- image background -->
      <!-- file must exist in assets and referenced in css id 
      <div id="background"></div>
      -->
      
      <!-- VIDEO BACKGROUND -->
      <!-- file must exist in assets -->
      <%
=begin%>
 <%= video_tag(
        'some_video.mp4',
        id: 'background',
        autoplay: true,
        loop: true,
        muted: true,
        poster: 'background-1080p.jpg'
      ) %> 
<%
=end%>

      <%= render "shared/application_nav" %>

      <%= yield %>

      <%= render "shared/application_footer" %>

      <%= alerts %>

      <%= source_helper("app") %>
    </div>
  </body>
</html>
